#################################################
# Dependencias
#################################################

/vendor

#################################################
# Configuración
#################################################

.env

#################################################
# Logs
#################################################

/logs
/error_log
/controladores/error_log
/reportes/factura/error_log
/public/FACT_WebService/Facturacion/error_log

#################################################
# Archivos temporales y cache
#################################################

/temp
/phpqrcode/cache
/public/FACT_WebService/Facturacion/cache

#################################################
# Archivos generados
#################################################

/reportes/qr
/reportes/factura/qr
/reportes/documentos
/public/FACT_WebService/Facturacion/cdrs
/public/FACT_WebService/Facturacion/files

#################################################
# PHP QRCode
#################################################

/phpqrcode/img*

#################################################
# Archivos subidos
#################################################

files/productos/*
!files/productos/.gitkeep
!files/productos/anonymous.png

files/recuperacion/*
!files/recuperacion/.gitkeep

files/solicitudes/*
!files/solicitudes/.gitkeep

files/personal/*
!files/personal/.gitkeep
!files/personal/user.png

files/seguimientos/*
!files/seguimientos/.gitkeep

files/logos/*
!files/logos/default.png
!files/logos/.gitkeep

files/compras/*
!files/compras/default.png
!files/compras/.gitkeep