<IfModule mod_suphp.c>
    suPHP_ConfigPath /opt/alt/php82/etc
</IfModule>

#AddHandler application/x-httpd-alt-php82 .php

Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?ruta=$1 [L,QSA]

php_value session.gc_maxlifetime 3600